<footer class="page-footer footer-bottom cyan">
    <div class="footer-copyright">
        <div class="container">© 2021 developed by Andrey Donets</div>
    </div>
    <div class="row"></div>
</footer>